{% load static %}
{% autoescape on %}
<html lang="en">
<head>
  <meta charset='utf-8'>
  <meta name='description' content='Web application for the Beta Chi chatper of Alpha Kappa Psi Professional Business Fraternity.'>
  <link rel='stylesheet' type='text/css' href="{% static 'akpsi_core/css/base.css' %}">
  <link rel='stylesheet' type='text/css' href="{% static 'akpsi_core/css/navigation.css' %}">
  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  <div class='navigation'>
    <!--
      All the stylings for this section come from the navigation.css file.
    -->
    <div class='nav-list'>
      <a class="nav-item" href="{% url 'home' %}">Home</a>
      {% if user.is_staff %}
      <a class="nav-item" href="{% url 'officer_home' %}">Officers</a>
      {% endif %}
      <a class="nav-item" href="">Requirements</a>
    </div>
  </div>

  <div class='main'>
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
{% endautoescape %}
