{% extends 'akpsi_core/base.html' %}
{% load static %}

{% block title %}
Current Roster
{% endblock title %}

{% block content %}

<h1>Current Beta Chi Roster</h1>

<table class="table table-striped table-hover table-responsive-xl">
    <caption>Current Beta Chi collegiate brothers</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Chapter Status</th>
            <th scope="col">Major</th>
            <th scope="col">Email 1</th>
            <th scope="col">Email 2</th>
            <th scope="col">Phone</th>
            <th scope="col">Pledge Class</th>
            <th scope="col">Graduating Semester</th>
        </tr>
    </thead>
    <tbody>
        {% for mem in roster %}
        <tr>
            <td><a href="{% url 'bro_details' pk=mem.member_code %}">{{ mem }}</a></td>
            <td>{{ mem.chapter_status }}</td>
            <td>{{ mem.major }}</td>
            <td><a href="mailto:{{ mem.email1 }}">{{ mem.email1 }}</a></td>
            <td><a href="mailto:{{ mem.email2 }}">{{ mem.email2 }}</a></td>
            <td>{{ mem.phone }}</td>
            <td>{{ mem.pledge_semester }}</td>
            <td>{{ mem.graduate_semester }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}