{% extends 'akpsi_core/base.html' %}
{% load static %}

{% block title %}
Majors & Colleges
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Beta Chi Academics</h1>
    <div class="row">
        <div class="col-lg">
            <h2 id="majors">Beta Chi Majors</h2>
            <table class="table table-striped table-hover table-responsive-xl" style="max-width: 600px;">
                <caption>Current Majors in Beta Chi</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 50%;">Major</th>
                        <th scope="col" style="width: 50%;">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ii in major_counts %}
                    <tr>
                        {% for i in ii %}
                        <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg">
            <h2 id="colleges">Beta Chi Colleges</h2>
            <table class="table table-striped table-hover table-responsive-xl" style="max-width: 600px;">
                <caption>Current Senior Colleges in Beta Chi</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 50%;">College</th>
                        <th scope="col" style="width: 50%;">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ii in college_counts %}
                    <tr>
                        {% for i in ii %}
                        <td>{{ i }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}