{% extends 'akpsi_core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'akpsi_core/css/officer_home.css' %}" />
{% endblock head %}

{% block title %}
Officer Home
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md">
            <h2 class="o-header">Chapter Rosters</h2>
            <ul>
                <li><a href="{% url 'current_roster' %}">Current Roster</a></li>
                <li><a href="{% url 'pledge_roster' %}">Pledge Roster</a></li>
                <li><a href="{% url 'alumni_roster' %}">Alumni Roster</a></li>
            </ul>
        </div>
        <div class="col-md">
            <h2 class="o-header">Aggregated Information</h2>
            <ul>
                <h5>Semester Information</h5>
                <li><a href="{% url 'pledge_classes' %}">Pledge Classes</a></li>
                <li><a href="{% url 'grad_classes' %}">Graduating Classes</a></li>
                <h5>Academic Information</h5>
                <li><a href="{% url 'majors' %}">Major & Senior College Counts</a></li>
            </ul>
        </div>
        <div class="col-md">
            <h2 class="o-header">Others</h2>
        </div>
    </div>
</div>
{% endblock content %}