{% extends 'akpsi_core/base.html' %}
{% load static %}

{% block title %}
Career Beginnings
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Beta Chi Career Starting Points</h1>
    <div class="row">
        <div class="col-lg">
            <h2 id="majors">Beta Chi First Jobs</h2>
            <table class="table table-striped table-hover" style="max-width: 600px;">
                <caption>Current Majors in Beta Chi</caption>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="width: 50%;">Company</th>
                        <th scope="col" style="width: 50%;">Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, value in companies %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}